:root {
    --light-accent: #dce9e7;
    --deep-accent: #166c60;
}

body {
    margin: 0;
    /* background-color: #bdbfc7; */
}

section {
    font-size: 13px;
    line-height: 17px;
    font-weight: 300;
}

p {
    margin: 0;
}

/* ///////// */
/* MAIN GRID */
/* ///////// */
#cv {
    margin-left: 16px;
    width: 21cm;
    height: 29.7cm;
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    flex-direction: column;
} 
#title_bar {
    background-color: var(--deep-accent);
    text-align: right;
    color: white;
    font-weight: 600;
    padding-top: 48px;
    padding-right: 22px;
    padding-bottom: 12px;
    font-size: 18px;
    margin-bottom: 16px;
    flex-shrink: 0;
    border-radius: 0px 0px 8px 8px;
    position: relative;
}
#title_bar .texture {
    position: absolute;
    top: -4px;
    mix-blend-mode: screen;
    opacity: 0.2;
    transform: scale(80%) translate(-164px);
    width: 130%;
}
#title_bar .texture img {
    margin-right: 28px;
    position: relative;
}

#main_cv {
    flex: 1;
    height: auto;
    display: flex;
    flex-direction: row;
}
#main_col {
    width: 66%;
    margin-right: 32px;
    background-color: #ffffff;
    border-radius: 4px;
}
#side_col {
    flex: 1;
}

/* /////// */
/* GENERAL */
/* /////// */
img.photo {
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
    object-fit: cover;
    margin-top: 8px;
    aspect-ratio: 1/1;
}
p.name {
    font-size: 32px;
    padding-bottom: 12px;
    border-bottom: 1.5px solid var(--deep-accent);
    font-weight: 800;
}

/* //////// */
/* SECTIONS */
/* //////// */


section:not(:last-child){
    border-bottom: 1.5px solid var(--deep-accent);
}

/* section title */
.section_title {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 4px;
}
.section_title>span {
    margin: 4px 0px;
    font-size: 20px;
}
.section_title>span.barre {
    background-color: var(--light-accent);
    width: auto;
    margin-left: 8px;
    margin-top: 4px;
    margin-bottom: 6px;
    flex: 1;
}
p.intro {
    margin-bottom: 4px;
}

/* blocks */
span.block_title {
    font-weight: 600;
    margin: 0px;
}
span.block_head_item {
    line-height: 13px;
    font-weight: 400;
}
div.block_head_2 {
    line-height: 15px;
    margin-bottom: 5px;
}

/* coordonnées */
div.item_coord {
    display: flex;
    flex-direction: row;
}
div.item_coord>i {
    width: 12%;
    text-align: center;
    margin-right: 8px;
    flex-shrink: 0;
    font-size: 17px;
}
div.item_coord>span {
    padding-top: 3px;
}
div.item_coord>a {
    color: black;
    font-weight: 400;
}

/* separators */
span.separator {
    font-weight: 400;
    font-size: 12px;
    margin: 0px 8px;
}
span.date_separator {
    font-weight: 200;
    font-size: 12px;
    margin: 0px 4px;
}
div.end_block {
    height: 13px;
}

section.interests p {
    margin-bottom: 3px;
}