:root {
    --light_green: #dce9e7;
    --deep_green: #166c60;
}
body {
    margin: 0;
}

/* ///////// */
/* MAIN GRID */
/* ///////// */
#cv {
    /* margin-top: 10px; */
    margin-left: 16px;
    width: 21cm;
    height: 29.7cm;
    font-family: 'Fira Sans', sans-serif;
    /* border-bottom: 1px solid black; */
    display: flex;
    flex-direction: column;
} 
#title_bar {
    background-color: var(--deep_green);
    text-align: right;
    color: white;
    font-weight: 600;
    padding-top: 22px;
    padding-right: 12px;
    padding-bottom: 4px;
    font-size: 13px;
    margin-bottom: 16px;
}
#main_cv {
    flex: 1;
    height: auto;
    display: flex;
    flex-direction: row;
}
#main_col {
    width: 64%;
    margin-right: 28px;
}
#side_col {

    flex: 1;
    padding: 4px;

}

/* /////// */
/* GENERAL */
/* /////// */
img.photo {
    width: 100%;
    height: 19.6%;
    border-radius: 64px;
    object-fit: cover;
    margin-bottom: -6px;

}
p.name {
    font-size: 28px;
    padding-bottom: 12px;
    border-bottom: 1.5px solid black;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* //////// */
/* SECTIONS */
/* //////// */
section:not(:last-child){
    border-bottom: 1.5px solid black;
}

/* section title */
.section_title {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 4px;
}
.section_title>span {
    margin: 4px 0px;
    font-size: 16px;
}
.section_title>span.barre {
    background-color: var(--light_green);
    width: auto;
    margin-left: 8px;
    margin-top: 7px;
    margin-bottom: 7px;
    flex: 1;
}

/* blocks */
div.block_text>p {
    line-height: 16px;
    font-weight: 300;
    font-size: 12px;
    margin: 0px;
}
span.block_title {
    font-weight: 600;
    font-size: 13px;
    margin: 0px;
}
span.block_head_item {
    line-height: 12px;
    font-weight: 400;
    font-size: 12px;
}
div.block_head_2 {
    line-height: 14px;
    margin-bottom: 4px;
}

/* coordonnées */
div.item_coord {
    display: flex;
    flex-direction: row;
}
div.item_coord>i {
    width: 12%;
    text-align: center;
    margin-right: 8px;
    flex-shrink: 0;
}
div.item_coord>span {
    padding-top: 3px;
    margin-right: 12px;
}
div.item_coord>a {
    padding-top: 1px;
    color: black;
    font-size: 12px;
    font-weight: 400;
}

/* separators */
span.separator {
    font-weight: 400;
    font-size: 12px;
    margin: 0px 8px;
}
span.date_separator {
    font-weight: 200;
    font-size: 12px;
    margin: 0px 4px;
}
div.end_block {
    height: 14px;
}